.navbar-nfc {
  background: #202020;
  border: none;
}
.navbar-nfc .navbar-brand {
  color: #777;
}
.navbar-nfc .navbar-brand:hover,
.navbar-nfc .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-nfc .navbar-brand:active,
.navbar-nfc .navbar-brand:focus {
  outline: none;
}
.navbar-nfc .navbar-text {
  color: #777;
}
.navbar-nfc .navbar-nav > li > a {
  text-transform: uppercase;
  text-align: center;
  color: #cccccc;
  font-size: 12px;
  font-weight: bold;
  transition: all 250ms ease;
}
.navbar-nfc .navbar-nav > li > a:active,
.navbar-nfc .navbar-nav > li > a:focus,
.navbar-nfc .navbar-nav > li > a:hover {
  color: #cccccc;
  outline: none;
  background-color: transparent;
}
.navbar-nfc .navbar-nav > li:hover a,
.navbar-nfc .navbar-nav > li:hover a:hover {
  color: #ffffff;
  background: #e21a28;
}
.navbar-nfc .navbar-nav > li.active a {
  color: #ffffff;
  background: #e21a28;
}
.navbar-nfc .navbar-toggle {
  float: left;
  margin-left: 15px;
  border: none;
}
.navbar-nfc .navbar-toggle:hover,
.navbar-nfc .navbar-toggle:focus {
  background-color: #e21a28;
}
.navbar-nfc .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-nfc .navbar-collapse {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar-nfc .navbar-form {
  border-color: #e7e7e7;
}
.navbar-nfc .navbar-nav > .open > a,
.navbar-nfc .navbar-nav > .open > a:hover,
.navbar-nfc .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-nfc .navbar-link {
  color: #777;
}
.navbar-nfc .navbar-link:hover {
  color: #333;
}
.navbar-nfc .btn-link {
  color: #777;
}
.navbar-nfc .btn-link:hover,
.navbar-nfc .btn-link:focus {
  color: #333;
}
.navbar-nfc .btn-link[disabled]:hover,
.navbar-nfc .btn-link[disabled]:focus {
  color: #ccc;
}
@media (max-width: 767px) {
  .container-fluid.main-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-fluid.main-container section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-nfc .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-nfc .navbar-brand img {
    max-height: 100%;
  }
  .navbar-nfc .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-nfc .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nfc .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-nfc .navbar-nav .open .dropdown-menu > li > a:active {
    color: #333;
    background-color: transparent;
  }
  .navbar-nfc .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .active > a:active {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-nfc .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .disabled > a:focus,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .disabled > a:active {
    color: #ccc;
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  body {
    padding-top: 0px;
  }
  .navbar-fixed-top.navbar-fixed-left {
    position: fixed;
    left: 0px;
    width: 140px;
    height: 100%;
    z-index: 4;
  }
  .navbar.navbar-nfc .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar.navbar-nfc .navbar-header {
    float: none;
  }
  .navbar.navbar-nfc .navbar-header .navbar-brand {
    margin-left: 0px;
    height: auto;
    padding: 28px;
    margin-bottom: 8px;
    width: 100%;
  }
  .navbar.navbar-nfc .navbar-nav {
    float: none;
    background: -moz-linear-gradient(top, #e21a28 0%, #e21a28 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e21a28), color-stop(100%, #e21a28));
    background: -webkit-linear-gradient(top, #e21a28 0%, #e21a28 100%);
    background: -o-linear-gradient(top, #e21a28 0%, #e21a28 100%);
    background: -ms-linear-gradient(top, #e21a28 0%, #e21a28 100%);
    background: linear-gradient(to bottom, #e21a28 0%, #e21a28 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e21a28', endColorstr='#e21a28', GradientType=0);
    background-size: 100% 52px;
    background-repeat: no-repeat;
    position: relative;
    -webkit-transition: background 500ms cubic-bezier(0.65, 0, 0.45, 1);
    -moz-transition: background 500ms cubic-bezier(0.65, 0, 0.45, 1);
    -o-transition: background 500ms cubic-bezier(0.65, 0, 0.45, 1);
    transition: background 500ms cubic-bezier(0.65, 0, 0.45, 1);
    -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
    -moz-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
    -o-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
    transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  }
  .navbar.navbar-nfc .navbar-nav > li {
    width: 100%;
    float: none;
  }
  .navbar.navbar-nfc .navbar-nav > li > a {
    background: transparent;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .navbar.navbar-nfc .navbar-nav > li:hover a,
  .navbar.navbar-nfc .navbar-nav > li:focus a,
  .navbar.navbar-nfc .navbar-nav > li:active a,
  .navbar.navbar-nfc .navbar-nav > li:hover a:focus,
  .navbar.navbar-nfc .navbar-nav > li:focus a:focus,
  .navbar.navbar-nfc .navbar-nav > li:active a:focus,
  .navbar.navbar-nfc .navbar-nav > li:hover a:active,
  .navbar.navbar-nfc .navbar-nav > li:focus a:active,
  .navbar.navbar-nfc .navbar-nav > li:active a:active,
  .navbar.navbar-nfc .navbar-nav > li:hover a:hover,
  .navbar.navbar-nfc .navbar-nav > li:focus a:hover,
  .navbar.navbar-nfc .navbar-nav > li:active a:hover {
    color: #ffffff;
    background: transparent;
  }
  .navbar.navbar-nfc .navbar-nav > li.active a {
    color: #ffffff;
    background: transparent;
  }
  .container-fluid.main-container {
    padding-left: 140px;
    padding-right: 0px;
  }
  .container-fluid.main-container section {
    padding-left: 35px;
    padding-right: 15px;
  }
}
