.navbar-nfc {
  background: #202020;
  border: none;
}
.navbar-nfc .navbar-brand {
  color: #777;
}
.navbar-nfc .navbar-brand:hover,
.navbar-nfc .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-nfc .navbar-brand:active,
.navbar-nfc .navbar-brand:focus {
  outline: none;
}
.navbar-nfc .navbar-text {
  color: #777;
}
.navbar-nfc .navbar-nav > li > a {
  text-transform: uppercase;
  text-align: center;
  color: #cccccc;
  font-size: 12px;
  font-weight: bold;
  transition: all 250ms ease;
  padding: 10px 5px;
}
.navbar-nfc .navbar-nav > li > a:active,
.navbar-nfc .navbar-nav > li > a:focus,
.navbar-nfc .navbar-nav > li > a:hover {
  color: #cccccc;
  outline: none;
  background-color: transparent;
}
.navbar-nfc .navbar-nav > li:hover a,
.navbar-nfc .navbar-nav > li:hover a:hover {
  color: #ffffff;
  background: #e21a28;
}
.navbar-nfc .navbar-nav > li.active a {
  color: #ffffff;
  background: #e21a28;
}
.navbar-nfc .navbar-toggle {
  float: left;
  margin-left: 15px;
  border: none;
}
.navbar-nfc .navbar-toggle:hover,
.navbar-nfc .navbar-toggle:focus {
  background-color: #e21a28;
}
.navbar-nfc .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-nfc .navbar-collapse {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar-nfc .navbar-form {
  border-color: #e7e7e7;
}
.navbar-nfc .navbar-nav > .open > a,
.navbar-nfc .navbar-nav > .open > a:hover,
.navbar-nfc .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-nfc .navbar-link {
  color: #777;
}
.navbar-nfc .navbar-link:hover {
  color: #333;
}
.navbar-nfc .btn-link {
  color: #777;
}
.navbar-nfc .btn-link:hover,
.navbar-nfc .btn-link:focus {
  color: #333;
}
.navbar-nfc .btn-link[disabled]:hover,
.navbar-nfc .btn-link[disabled]:focus {
  color: #ccc;
}
@media (max-width: 767px) {
  .container-fluid.main-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-fluid.main-container section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-nfc .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-nfc .navbar-brand img {
    max-height: 100%;
  }
  .navbar-nfc .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-nfc .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nfc .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-nfc .navbar-nav .open .dropdown-menu > li > a:active {
    color: #333;
    background-color: transparent;
  }
  .navbar-nfc .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .active > a:active {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-nfc .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .disabled > a:focus,
  .navbar-nfc .navbar-nav .open .dropdown-menu > .disabled > a:active {
    color: #ccc;
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  body {
    padding-top: 0px;
  }
  .navbar-fixed-top.navbar-fixed-left {
    position: fixed;
    left: 0px;
    width: 140px;
    height: 100%;
    z-index: 4;
  }
  .navbar.navbar-nfc .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar.navbar-nfc .navbar-header {
    float: none;
  }
  .navbar.navbar-nfc .navbar-header .navbar-brand {
    margin-left: 0px;
    height: auto;
    padding: 28px;
    margin-bottom: 8px;
    width: 100%;
  }
  .navbar.navbar-nfc .navbar-nav {
    float: none;
    background: -moz-linear-gradient(top, #e21a28 0%, #e21a28 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e21a28), color-stop(100%, #e21a28));
    background: -webkit-linear-gradient(top, #e21a28 0%, #e21a28 100%);
    background: -o-linear-gradient(top, #e21a28 0%, #e21a28 100%);
    background: -ms-linear-gradient(top, #e21a28 0%, #e21a28 100%);
    background: linear-gradient(to bottom, #e21a28 0%, #e21a28 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e21a28', endColorstr='#e21a28', GradientType=0);
    background-size: 100% 52px;
    background-repeat: no-repeat;
    position: relative;
    -webkit-transition: background 500ms cubic-bezier(0.65, 0, 0.45, 1);
    -moz-transition: background 500ms cubic-bezier(0.65, 0, 0.45, 1);
    -o-transition: background 500ms cubic-bezier(0.65, 0, 0.45, 1);
    transition: background 500ms cubic-bezier(0.65, 0, 0.45, 1);
    -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
    -moz-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
    -o-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
    transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  }
  .navbar.navbar-nfc .navbar-nav > li {
    width: 100%;
    float: none;
  }
  .navbar.navbar-nfc .navbar-nav > li > a {
    background: transparent;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .navbar.navbar-nfc .navbar-nav > li:hover a,
  .navbar.navbar-nfc .navbar-nav > li:focus a,
  .navbar.navbar-nfc .navbar-nav > li:active a,
  .navbar.navbar-nfc .navbar-nav > li:hover a:focus,
  .navbar.navbar-nfc .navbar-nav > li:focus a:focus,
  .navbar.navbar-nfc .navbar-nav > li:active a:focus,
  .navbar.navbar-nfc .navbar-nav > li:hover a:active,
  .navbar.navbar-nfc .navbar-nav > li:focus a:active,
  .navbar.navbar-nfc .navbar-nav > li:active a:active,
  .navbar.navbar-nfc .navbar-nav > li:hover a:hover,
  .navbar.navbar-nfc .navbar-nav > li:focus a:hover,
  .navbar.navbar-nfc .navbar-nav > li:active a:hover {
    color: #ffffff;
    background: transparent;
  }
  .navbar.navbar-nfc .navbar-nav > li.active a {
    color: #ffffff;
    background: transparent;
  }
  .container-fluid.main-container {
    padding-left: 140px;
    padding-right: 0px;
  }
  .container-fluid.main-container section {
    padding-left: 35px;
    padding-right: 15px;
  }
}
@font-face {
  font-family: 'Ge Inspira';
  src: url('../fonts/geinspbdwebfont.eot');
  src: url('../fonts/geinspbdwebfont.eot?#iefix') format('embedded-opentype'), url('../fonts/geinspbdwebfont.woff') format('woff'), url('../fonts/geinspbdwebfont.ttf') format('truetype'), url('../fonts/geinspbdwebfont.svg#ge_inspirabold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ge Inspira';
  src: url('../fonts/geinsprgwebfont.eot');
  src: url('../fonts/geinsprgwebfont.eot?#iefix') format('embedded-opentype'), url('../fonts/geinsprgwebfont.woff') format('woff'), url('../fonts/geinsprgwebfont.ttf') format('truetype'), url('../fonts/geinsprgwebfont.svg#ge_inspiraregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Global */
body {
  position: relative;
  font-family: 'Ge Inspira';
  font-size: 16px;
}
p {
  color: #424242;
}
div {
  color: #424242;
}
section.grey-section {
  background-color: #f3f3f3;
}
section.section-folded.collapsing {
  -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -moz-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -o-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
}
h1 {
  color: #e21a28;
  text-transform: uppercase;
  margin-top: 65px;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0px;
}
h1.double-title {
  margin-top: 0px;
}
h2 {
  font-weight: 300;
}
h2.double-title {
  margin-top: 60px;
  color: #221f1c;
  font-size: 22px;
}
a:focus,
a:active,
a:hover {
  outline: none;
}
a.red:hover {
  color: #b41520;
}
.red {
  color: #e21a28;
}
.nfc-button {
  display: inline-block;
  height: 48px;
  border: 2px solid #d6d6d6;
  border-radius: 24px;
  color: #6e6e6e;
  line-height: 1;
  padding: 16px 25px;
  text-transform: uppercase;
  text-align: center;
  background: #ffffff;
  -webkit-transition: color 250ms, border-color 250ms, background-color 250ms;
  transition: color 250ms, border-color 250ms, background-color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -moz-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -o-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  font-size: 11px;
  font-weight: bold;
}
.nfc-button.more-button:after {
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-weight: normal;
  margin-left: 15px;
  display: inline-block;
  position: relative;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -moz-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -o-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
}
.nfc-button.more-button:hover:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.nfc-button.more-button[aria-expanded="true"] {
  background: #e21a28;
  border-color: #e21a28;
  color: #ffffff;
}
.nfc-button.more-button[aria-expanded="true"]:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.nfc-button.more-button[aria-expanded="true"]:focus:after,
.nfc-button.more-button[aria-expanded="true"]:active:after {
  color: #ffffff;
}
.nfc-button.more-button:focus {
  text-decoration: none;
}
.nfc-button.more-button.follow-button:after {
  -webkit-animation-name: arrowBounce;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
  -webkit-animation-fill-mode: forwards;
  animation-name: arrowBounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}
.nfc-button.more-button.follow-button:hover:after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.nfc-button:hover,
.nfc-button:focus {
  color: #6e6e6e;
  text-decoration: none;
}
.nfc-button.operator-button {
  color: #ffffff;
}
.nfc-button.operator-button:after {
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-weight: normal;
  margin-left: 15px;
  display: inline-block;
  position: relative;
}
.nfc-button.operator-button:hover,
.nfc-button.operator-button:focus {
  color: #ffffff;
}
.nfc-button.operator-button.t-mobile {
  background: #ed145b;
}
.nfc-button.operator-button.orange {
  background: #ff6600;
}
.bottom-space {
  padding-bottom: 60px;
}
ul.red-list {
  padding-left: 25px;
  padding-bottom: 30px;
}
ul.red-list li {
  color: #e21a28;
}
ul.red-list li span {
  color: #424242;
}
@media (max-width: 767px) {
  body {
    padding-top: 50px;
    font-size: 14px;
  }
  .text-center-xs {
    text-align: center;
  }
  h1 {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  h2.double-title {
    margin-top: 35px;
  }
  .center-xs {
    text-align: center;
  }
  .center-xs a {
    display: block;
    margin: 0 auto 5px;
  }
  .nfc-button.responsive-button {
    height: auto;
    border-radius: 50px;
    position: relative;
    padding-right: 30px;
  }
  .nfc-button.responsive-button.more-button:after {
    margin-top: -6px;
    position: absolute;
    right: 7%;
    top: 50%;
  }
  .nfc-button.responsive-button.more-button.follow-button:after {
    -webkit-animation-name: arrowBounceRight;
    animation-name: arrowBounceRight;
  }
}
/* EOF Global */
/* Section 1 */
#section_1 h3 {
  font-size: 22px;
}
#section_1 #amount {
  padding-top: 100px;
}
#section_1 #slider {
  display: none;
  padding: 0px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}
#section_1 #slider.loading {
  opacity: 0;
}
#section_1 #slider .noUi-horizontal {
  height: 22px;
}
#section_1 #slider .noUi-horizontal .noUi-handle {
  top: -8px;
  left: -11px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: #e21a28;
  background-repeat: no-repeat;
  box-shadow: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -moz-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -o-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
}
#section_1 #slider .noUi-horizontal .noUi-handle:before,
#section_1 #slider .noUi-horizontal .noUi-handle:after {
  content: "";
  display: block;
  height: 1px;
  width: 8px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  left: 7px;
  top: 8px;
  padding-top: 2px;
  background: transparent;
}
#section_1 #slider .noUi-horizontal .noUi-handle:after {
  border-top: none;
  border-bottom: none;
  background: white;
  padding-top: 0px;
  top: 14px;
}
#section_1 #slider .noUi-horizontal .noUi-handle:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#section_1 #slider .noUi-horizontal .noUi-handle.noUi-active {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.5);
  cursor: pointer;
}
#section_1 #slider .noUi-base {
  z-index: 1;
}
#section_1 #slider .noUi-target {
  background-image: url('../images/bar_red.gif');
  background-repeat: no-repeat;
  background-size: 100% 6px;
  background-position: 0px 8px;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#section_1 #slider .noUi-origin {
  background: #ebebeb;
  border-radius: 0px;
  height: 6px;
  top: 8px;
}
#section_1 #slider .noUi-pips-horizontal {
  z-index: 0;
  padding: 0px;
  height: 22px;
  top: 0px;
}
#section_1 #slider .noUi-pips-horizontal .noUi-marker {
  display: none;
}
#section_1 #slider .noUi-pips-horizontal .noUi-marker-horizontal.noUi-marker-large {
  display: block;
  padding: 0px;
  height: 22px;
  width: 22px;
  margin-left: -11px;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../images/ball_disabled.png");
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_1 #slider .noUi-pips-horizontal .noUi-marker-horizontal.noUi-marker-large {
    background-image: url("../images/2x/ball_disabled_2x.png");
    background-size: 22px 22px;
  }
}
#section_1 #slider .noUi-pips-horizontal .noUi-marker-horizontal.noUi-marker-large.noUi-marker-active {
  background-repeat: no-repeat;
  background-image: url("../images/ball_active.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_1 #slider .noUi-pips-horizontal .noUi-marker-horizontal.noUi-marker-large.noUi-marker-active {
    background-image: url("../images/2x/ball_active_2x.png");
    background-size: 22px 22px;
  }
}
#section_1 #slider .noUi-value.noUi-value-large {
  color: #424242;
  width: auto;
  top: -40px;
  margin-left: 20px;
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}
#section_1 #slider .noUi-value.noUi-value-large:last-child {
  margin-left: -65px;
}
#section_1 #slider .noUi-value.noUi-value-large.noUi-value-active {
  opacity: 1;
}
#section_1 #nfc-sequence {
  height: 400px;
  position: relative;
}
#section_1 #nfc-sequence ul {
  list-style: none;
  padding: 0px;
}
#section_1 #nfc-sequence ul li img {
  display: block;
  max-width: 100%;
}
@media (max-width: 767px) {
  #section_1 {
    padding-bottom: 30px;
  }
  #section_1 #slider .noUi-value.noUi-value-large {
    top: 20px;
    left: 0px !important;
    margin-left: 0px;
  }
  #section_1 #slider .noUi-value.noUi-value-large:last-child {
    margin-left: 0px;
  }
}
@media (min-width: 768px) {
  #section_1 #slider .noUi-value.noUi-value-large:last-child {
    left: initial !important;
    right: 25px !important;
  }
}
@media (min-width: 1200px) {
  #section_1 #slider {
    margin-top: 40px;
  }
}
.glyphicon-play {
  font-size: 40px;
  position: absolute;
  z-index: 10;
  color: white;
  border-radius: 100px;
  border: 3px solid white;
  padding: 30px 25px;
  line-height: 30px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .glyphicon-play {
    top: 35%;
    left: 50%;
    margin-left: -25px;
    font-size: 30px;
    padding: 25px 20px;
    line-height: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .glyphicon-play {
    top: 40%;
    left: 225px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .glyphicon-play {
    top: 40%;
    left: 50%;
    margin-left: -30px;
  }
}
@media (min-width: 1200px) {
  .glyphicon-play {
    top: 40%;
    left: 225px;
  }
}
/* EOF Section 1 */
/* Section 2 */
#section_2 {
  overflow: hidden;
}
#section_2 #where-to-icons {
  background: url('../images/glows.png') center center no-repeat;
  background-size: contain;
}
#section_2 #where-to-icons #icons-holder {
  height: 554px;
  position: relative;
  -webkit-perspective: 250px;
  perspective: 250px;
}
#section_2 #where-to-icons .icons {
  position: absolute;
}
#section_2 #where-to-icons .icons.up.hover {
  transform: scale(1.1);
}
#section_2 #where-to-icons .icons.down.hover {
  transform: scale(0.7);
}
#section_2 #where-to-icons .icons#icon-1 {
  width: 77px;
  height: 77px;
  left: 50%;
  margin-left: 30px;
  top: 60%;
}
#section_2 #where-to-icons .icons#icon-1 .image-icon {
  background-image: url("../images/icons/ico_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 98px;
  height: 97px;
}
#section_2 #where-to-icons .icons#icon-2 {
  width: 102px;
  height: 102px;
  left: 50%;
  margin-left: -50px;
  top: 22%;
}
#section_2 #where-to-icons .icons#icon-2 .image-icon {
  background-image: url("../images/icons/ico_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 129px;
  height: 129px;
}
#section_2 #where-to-icons .icons#icon-3 {
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -210px;
  top: 30%;
}
#section_2 #where-to-icons .icons#icon-3 .image-icon {
  background-image: url("../images/icons/ico_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 127px;
  height: 126px;
}
#section_2 #where-to-icons .icons#icon-4 {
  width: 125px;
  height: 125px;
  left: 50%;
  margin-left: -200px;
  top: 60%;
}
#section_2 #where-to-icons .icons#icon-4 .image-icon {
  background-image: url("../images/icons/ico_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 164px;
  height: 158px;
}
#section_2 #where-to-icons .icons#icon-5 {
  width: 189px;
  height: 189px;
  left: 50%;
  margin-left: -140px;
  top: 35%;
}
#section_2 #where-to-icons .icons#icon-5 .image-icon {
  background-image: url("../images/icons/ico_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 240px;
  height: 239px;
}
#section_2 #where-to-icons .icons#icon-6 {
  width: 63px;
  height: 63px;
  left: 50%;
  margin-left: 70px;
  top: 45%;
}
#section_2 #where-to-icons .icons#icon-6 .image-icon {
  background-image: url("../images/icons/ico_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 80px;
  height: 79px;
}
#section_2 #where-to-icons .icons#icon-7 {
  width: 19px;
  height: 19px;
  left: 50%;
  margin-left: -225px;
  top: 60%;
}
#section_2 #where-to-icons .icons#icon-7 .image-icon {
  background-image: url("../images/icons/ico_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 24px;
  height: 24px;
}
#section_2 #where-to-icons .icons#icon-8 {
  width: 19px;
  height: 19px;
  left: 50%;
  margin-left: 150px;
  top: 60%;
}
#section_2 #where-to-icons .icons#icon-8 .image-icon {
  background-image: url("../images/icons/ico_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 24px;
  height: 24px;
}
#section_2 #where-to-icons .icons#icon-9 {
  width: 28px;
  height: 28px;
  left: 50%;
  top: 74%;
}
#section_2 #where-to-icons .icons#icon-9 .image-icon {
  background-image: url("../images/icons/ico_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 36px;
  height: 37px;
}
#section_2 #where-to-icons .icons#icon-10 {
  width: 36px;
  height: 36px;
  left: 50%;
  margin-left: 80px;
  top: 35%;
}
#section_2 #where-to-icons .icons#icon-10 .image-icon {
  background-image: url("../images/icons/ico_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 45px;
  height: 46px;
}
#section_2 #where-to-icons .icons#icon-11 {
  width: 59px;
  height: 59px;
  left: 50%;
  margin-left: -150px;
  top: 20%;
}
#section_2 #where-to-icons .icons#icon-11 .image-icon {
  background-image: url("../images/icons/ico_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 59px;
  height: 60px;
}
@media (max-width: 767px) {
  #section_2 {
    position: relative;
  }
  #section_2 #where-to-icons {
    position: absolute;
    overflow: hidden;
    top: 15px;
    opacity: 0.25;
    width: 100%;
  }
  #section_2 #where-to-icons #icons-holder {
    left: 3%;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    margin-top: -120px;
    margin-bottom: -90px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #section_2 #where-to-icons #icons-holder {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media (min-width: 768px) {
  #section_2 .margin-responsive {
    margin-top: 40px;
  }
  #section_2 .nfc-button {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  #section_2 .margin-responsive {
    margin-top: 80px;
  }
  #section_2 .nfc-button {
    margin-top: 20px;
  }
}
/* EOF Section 2 */
/* Section 3 */
#section_3 {
  overflow: hidden;
}
#section_3 .nfc-element {
  position: relative;
  height: 216px;
}
#section_3 .nfc-element #mobile-nfc {
  background-image: url("../images/mobile_nfc.png");
  width: 160px;
  height: 218px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_3 .nfc-element #mobile-nfc {
    background-image: url("../images/2x/mobile_nfc_2x.png");
    background-size: 160px 218px;
  }
}
#section_3 .nfc-element #sim-nfc {
  background-image: url("../images/sim.png");
  width: 126px;
  height: 108px;
  margin: 0 auto;
  top: 29px;
  position: relative;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_3 .nfc-element #sim-nfc {
    background-image: url("../images/2x/sim_2x.png");
    background-size: 126px 108px;
  }
}
#section_3 .nfc-element #bph-nfc {
  background-image: url("../images/shield.png");
  width: 124px;
  height: 148px;
  margin: 0 auto;
  top: 38px;
  position: relative;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_3 .nfc-element #bph-nfc {
    background-image: url("../images/shield.png");
    background-size: 124px 148px;
  }
}
#section_3 .nfc-element .nfc-shadow {
  background: url('../images/shadow.png') center center no-repeat;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -71px;
  width: 142px;
  height: 20px;
}
#section_3 .nfc-description {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
#section_3 .nfc-description strong {
  display: block;
  width: 100%;
}
#section_3 .nfc-description span {
  display: block;
  width: 100%;
}
#section_3 .nfc-button {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  #section_3 {
    padding-bottom: 0px;
  }
  #section_3 .nfc-element {
    margin-top: 30px;
    height: auto;
  }
  #section_3 .nfc-element #sim-nfc {
    top: 0px;
  }
  #section_3 .nfc-element #bph-nfc {
    top: 0px;
  }
  #section_3 .nfc-description {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #section_3 .nfc-button {
    margin-bottom: 30px;
  }
  #section_3 .nfc-shadow {
    display: none;
  }
  #section_3 .read-more {
    -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
    -moz-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
    -o-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
    transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  }
  #section_3 .read-more .row {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #e1e1e1;
  }
}
@media (max-width: 991px) {
  #section_3 .nfc-description strong {
    font-size: 14px;
  }
  #section_3 .nfc-description span {
    font-size: 14px;
  }
}
#section_need {
  background: #e1e1e1;
}
#section_need .collapsing {
  -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -moz-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -o-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
}
#section_need .read-more .col-xs-12 {
  padding-top: 30px;
  padding-bottom: 30px;
}
#section_need .read-more .col-xs-12 .col-xs-12 {
  padding-top: 10px;
  padding-bottom: 10px;
}
#section_need .read-more .col-xs-12.no-padding-bottom {
  padding-bottom: 0px;
}
#section_need .read-more .col-xs-12.no-padding-top {
  padding-top: 0px;
}
/* EOF Section 3 */
/* Section operator */
#section_operator {
  padding-bottom: 50px;
}
#section_operator .operator-logo {
  background-repeat: no-repeat;
  margin-bottom: 50px;
  width: 122px;
  height: 60px;
}
#section_operator .operator-logo#t-mobile-logo {
  background-image: url("../images/t_mobile_white.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_operator .operator-logo#t-mobile-logo {
    background-image: url("../images/2x/t_mobile_white_2x.png");
    background-size: 122px 60px;
  }
}
#section_operator .operator-logo#orange-logo {
  height: 60px;
  background-size: contain;
  background-image: url('../images/2x/orange_2x.png');
  background-repeat: no-repeat;
}
#section_operator .operator-logo#bph-logo {
  width: 187px;
  height: 60px;
  background-image: url("../images/bph_cut.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_operator .operator-logo#bph-logo {
    background-image: url("../images/2x/bph_cut_2x.png");
    background-size: 187px 60px;
  }
}
#section_operator .more-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
#section_sim {
  background-color: #e1e1e1;
}
#section_sim .row {
  padding: 50px 0px;
}
@media (max-width: 1200px) {
  #section_operator .operator-logo#bph-logo {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  #section_operator .operator-logo {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #section_operator .operator-logo#orange-logo {
    margin-top: 38px;
  }
}
/* EOF Section operator */
/* Section 4 */
#section_4 #mobile-presentation {
  background-image: url("../images/mobile.png");
  width: 236px;
  height: 363px;
  margin: 58px auto;
  position: relative;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation {
    background-image: url("../images/2x/mobile_2x.png");
    background-size: 236px 363px;
  }
}
#section_4 #mobile-presentation.terminal {
  background-image: url("../images/jak_to_dziala_terminal.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation.terminal {
    background-image: url("../images/2x/jak_to_dziala_terminal_2x.png");
    background-size: 236px 363px;
  }
}
#section_4 #mobile-presentation.terminal #mobile-screen .mobile-view {
  opacity: 0;
}
#section_4 #mobile-presentation.terminal #mobile-screen .mobile-view.active {
  opacity: 0;
}
#section_4 #mobile-presentation #mobile-screen {
  width: 165px;
  height: 293px;
  position: relative;
  top: 26px;
  margin-left: 35px;
}
#section_4 #mobile-presentation #mobile-screen .mobile-view {
  width: 165px;
  height: 293px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}
#section_4 #mobile-presentation #mobile-screen .mobile-view#screen-0 {
  background-image: url("../images/mobile_screen_0.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation #mobile-screen .mobile-view#screen-0 {
    background-image: url("../images/2x/mobile_screen_0_2x.png");
    background-size: 165px 293px;
  }
}
#section_4 #mobile-presentation #mobile-screen .mobile-view#screen-1 {
  background-image: url("../images/mobile_screen_1.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation #mobile-screen .mobile-view#screen-1 {
    background-image: url("../images/2x/mobile_screen_1_2x.png");
    background-size: 165px 293px;
  }
}
#section_4 #mobile-presentation #mobile-screen .mobile-view#screen-2 {
  background-image: url("../images/mobile_screen_2.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation #mobile-screen .mobile-view#screen-2 {
    background-image: url("../images/2x/mobile_screen_2_2x.png");
    background-size: 165px 293px;
  }
}
#section_4 #mobile-presentation #mobile-screen .mobile-view#screen-3 {
  background-image: url("../images/mobile_screen_3.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation #mobile-screen .mobile-view#screen-3 {
    background-image: url("../images/2x/mobile_screen_3_2x.png");
    background-size: 165px 293px;
  }
}
#section_4 #mobile-presentation #mobile-screen .mobile-view.active {
  opacity: 1;
}
#section_4 #mobile-presentation #mobile-screen .mobile-view#screen-tmobile-1 {
  background-image: url("../images/mobile_tmobile_1.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation #mobile-screen .mobile-view#screen-tmobile-1 {
    background-image: url("../images/2x/mobile_tmobile_1_2x.jpg");
    background-size: 165px 293px;
  }
}
#section_4 #mobile-presentation #mobile-screen .mobile-view#screen-tmobile-2 {
  background-image: url("../images/mobile_tmobile_2.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation #mobile-screen .mobile-view#screen-tmobile-2 {
    background-image: url("../images/2x/mobile_tmobile_2_2x.png");
    background-size: 165px 293px;
  }
}
#section_4 #mobile-presentation #mobile-screen .mobile-view#screen-tmobile-3 {
  background-image: url("../images/mobile_tmobile_3.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation #mobile-screen .mobile-view#screen-tmobile-3 {
    background-image: url("../images/2x/mobile_tmobile_3_2x.png");
    background-size: 165px 293px;
  }
}
#section_4 #mobile-presentation #mobile-screen .mobile-view#screen-orange-1 {
  background-image: url("../images/mobile_orange_1.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation #mobile-screen .mobile-view#screen-orange-1 {
    background-image: url("../images/2x/mobile_orange_1_2x.jpg");
    background-size: 165px 293px;
  }
}
#section_4 #mobile-presentation #mobile-screen .mobile-view#screen-orange-2 {
  background-image: url("../images/mobile_orange_2.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation #mobile-screen .mobile-view#screen-orange-2 {
    background-image: url("../images/2x/mobile_orange_2_2x.jpg");
    background-size: 165px 293px;
  }
}
#section_4 #mobile-presentation #mobile-screen .mobile-view#screen-orange-3 {
  background-image: url("../images/mobile_orange_3.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 #mobile-presentation #mobile-screen .mobile-view#screen-orange-3 {
    background-image: url("../images/2x/mobile_orange_3_2x.png");
    background-size: 165px 293px;
  }
}
#section_4 .mobile-controls .mobile-control {
  display: block;
  color: #999999;
  margin: 25px 0px;
}
#section_4 .mobile-controls .mobile-control span {
  vertical-align: middle;
  display: inline-block;
  width: 85%;
}
#section_4 .mobile-controls .mobile-control span.point {
  display: inline-block;
  margin-right: 15px;
  width: 16px;
  height: 16px;
  background-image: url("../images/ball_dark_disabled.png");
  background-size: 16px 16px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -moz-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -o-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  vertical-align: top;
  top: 5px;
  position: relative;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 .mobile-controls .mobile-control span.point {
    background-image: url("../images/2x/ball_dark_disabled_2x.png");
    background-size: 16px 16px;
  }
}
#section_4 .mobile-controls .mobile-control .nfc-icon {
  display: none;
}
#section_4 .mobile-controls .mobile-control .nfc-icon,
#section_4 .mobile-controls .mobile-control .nfc-icon-disabled {
  height: 15px;
}
#section_4 .mobile-controls .mobile-control.current {
  color: #424242;
}
#section_4 .mobile-controls .mobile-control.current .nfc-icon-disabled {
  display: none;
}
#section_4 .mobile-controls .mobile-control.current .nfc-icon {
  display: initial;
}
#section_4 .mobile-controls .mobile-control.current span {
  font-weight: bold;
}
#section_4 .mobile-controls .mobile-control.current span.point {
  background-image: url("../images/ball_active.png");
  background-size: 16px 16px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_4 .mobile-controls .mobile-control.current span.point {
    background-image: url("../images/2x/ball_active_2x.png");
    background-size: 16px 16px;
  }
}
#section_4 .mobile-controls .mobile-control:hover,
#section_4 .mobile-controls .mobile-control:active,
#section_4 .mobile-controls .mobile-control:focus {
  text-decoration: none;
}
#section_4 .mobile-controls .mobile-control:hover {
  color: #424242;
}
#section_4 .mobile-controls .mobile-control:hover .nfc-icon-disabled {
  display: none;
}
#section_4 .mobile-controls .mobile-control:hover .nfc-icon {
  display: initial;
}
#section_4 .mobile-controls .mobile-control:hover span.point {
  transform: scale(1.3);
}
#section_4 .mobile-controls .mobile-control:hover.current span.point {
  transform: scale(1);
}
#section_4 #operators-holder {
  position: relative;
  z-index: 1;
}
#section_4 #operators .buttons-group {
  width: auto;
  display: block;
  border-radius: 25px;
  border: 2px solid #d6d6d6;
  padding: 2px;
}
#section_4 #operators .buttons-group form:after {
  content: " ";
  display: table;
  clear: both;
}
#section_4 #operators .buttons-group .operator {
  position: relative;
  display: block;
  margin: 0;
  padding: 15px 20px;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  width: 50%;
  float: left;
}
#section_4 #operators .buttons-group .operator input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  cursor: pointer;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#section_4 #operators .buttons-group .operator input + span {
  color: #6e6e6e;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
#section_4 #operators .buttons-group .operator input + span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #ffffff;
}
#section_4 #operators .buttons-group .operator input + span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}
#section_4 #operators .buttons-group .operator input:checked + span {
  color: #ffffff;
}
#section_4 #operators .buttons-group .operator:first-child input:checked + span:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#section_4 #operators .buttons-group .operator:first-child input + span:after {
  background: #ed145b;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
#section_4 #operators .buttons-group .operator:first-child input + span:after,
#section_4 #operators .buttons-group .operator:first-child input + span:before {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
#section_4 #operators .buttons-group .operator:last-child input:checked + span:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#section_4 #operators .buttons-group .operator:last-child input + span:after {
  background: #ff6600;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
#section_4 #operators .buttons-group .operator:last-child input + span:after,
#section_4 #operators .buttons-group .operator:last-child input + span:before {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
@media (max-width: 767px) {
  #section_4 #mobile-presentation {
    margin: 20px auto;
  }
  #section_4 #operators {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #section_4 #operators {
    margin: 58px auto 0px;
  }
  #section_4 #operators h4 {
    margin-top: 0px;
    margin-left: 18px;
  }
  #section_4 #operators .buttons-group {
    float: left;
  }
  #section_4 #operators .buttons-group .operator {
    width: auto;
  }
}
/* EOF Section 4 */
/* Section 5 */
#section_5 {
  position: relative;
}
#section_5 h1 {
  margin-bottom: 0;
}
#section_5 #pointer-presentation {
  padding-top: 15px;
  padding-bottom: 15px;
}
#section_5 .desktop-image {
  text-align: center;
}
#section_5 .desktop-image img {
  display: inline-block;
}
#section_5 .pointer {
  width: 66px;
  height: 66px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
#section_5 .pointer#pointer-1 {
  background-image: url("../images/pointer_1.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_5 .pointer#pointer-1 {
    background-image: url("../images/2x/pointer_1_2x.png");
    background-size: 58px 36px;
  }
}
#section_5 .pointer#pointer-2 {
  background-image: url("../images/pointer_2.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_5 .pointer#pointer-2 {
    background-image: url("../images/2x/pointer_2_2x.png");
    background-size: 25px 46px;
  }
}
#section_5 .pointer#pointer-3 {
  background-image: url("../images/pointer_3.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_5 .pointer#pointer-3 {
    background-image: url("../images/2x/pointer_3_2x.png");
    background-size: 41px 37px;
  }
}
#section_5 .pointer#pointer-4 {
  background-image: url("../images/pointer_4.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_5 .pointer#pointer-4 {
    background-image: url("../images/2x/pointer_4_2x.png");
    background-size: 42px 38px;
  }
}
#section_5 .pointer#pointer-5 {
  background-image: url("../images/pointer_5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_5 .pointer#pointer-5 {
    background-image: url("../images/pointer_5.png");
    background-size: 47px 41px;
  }
}
#section_5 .pointer#pointer-6 {
  background-image: url("../images/pointer_6.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_5 .pointer#pointer-6 {
    background-image: url("../images/pointer_6.png");
    background-size: 66px 45px;
  }
}
#section_5.grey-section:after {
  z-index: 0;
  background-image: url("../images/safety_grey.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #section_5.grey-section:after {
    background-image: url("../images/2x/safety_grey_2x.jpg");
    background-size: 609px 353px;
  }
}
#section_5.grey-section .row {
  position: relative;
  z-index: 1;
}
#section_safe {
  background-color: #e1e1e1;
}
#section_safe .row {
  padding: 50px 0px;
}
#section_safe strong {
  display: inline-block;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  #section_5:after {
    background-size: 400px;
    opacity: 0.2;
  }
  #section_5 .margin-responsive {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  #section_5 {
    min-height: 474px;
  }
  #section_5 #pointer-presentation {
    padding-top: 60px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #section_5:after {
    opacity: 0.3;
  }
}
#section_useful h2 {
  color: #e21a28;
  text-transform: uppercase;
  margin-top: 65px;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0px;
}
#section_useful .col-md-6.col-lg-5 .center-xs {
  margin-top: 14px;
}
#section_useful .btn.nfc-button {
  width: 100%;
  display: block;
  white-space: normal;
  height: auto;
  position: relative;
  margin-bottom: 20px;
  text-transform: none;
  font-size: 14px;
  min-height: 64px;
}
#section_useful .btn.nfc-button.more-button:after {
  display: none;
}
#section_useful .btn.nfc-button.more-button:before {
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-weight: normal;
  display: inline-block;
  position: absolute;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -moz-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -o-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
}
#section_useful .btn.nfc-button.more-button[aria-expanded="true"] {
  background: #e21a28;
  border-color: #e21a28;
  color: #ffffff;
}
#section_useful .btn.nfc-button.more-button[aria-expanded="true"]:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#section_useful .btn.nfc-button.more-button[aria-expanded="true"]:focus:after,
#section_useful .btn.nfc-button.more-button[aria-expanded="true"]:active:after {
  color: #ffffff;
}
#section_useful .btn.nfc-button.more-button:focus {
  text-decoration: none;
}
#section_useful .btn.nfc-button span {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}
/* EOF Section 5 */
/*@media (min-width: @screen-md) and (max-width: (@screen-lg - 1px)) {
    #section_useful {
        .center-xs {
            .nfc-button {
                padding: 16px 16px;
                &:after {
                    display: none;
                }
            }
            padding-bottom: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgb(198, 198, 198);
            span {
                display: block;
                margin-bottom: 10px;
            }
        }
    }    
}*/
/* Section FAQ */
#section_faq {
  padding-bottom: 30px;
}
#section_faq .more-button {
  margin-top: 35px;
}
#section_faq #faq-one .panel-nfc:first-child,
#section_faq #faq-two .panel-nfc:first-child {
  border-top: 1px solid #c6c6c6;
}
#section_faq .panel.panel-nfc {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #c6c6c6;
  padding: 28px 0px;
  margin-bottom: 0px;
}
#section_faq .panel.panel-nfc .panel-heading {
  padding: 0px;
}
#section_faq .panel.panel-nfc .panel-heading .panel-title a {
  color: #e21a28;
  font-size: 14px;
  font-weight: bold;
}
#section_faq .panel.panel-nfc .panel-heading .panel-title a:after {
  content: "\e114";
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  display: block;
  border-radius: 16px;
  float: right;
  padding: 10px;
  border: 2px solid #e21a28;
  color: #e21a28;
  line-height: 9px;
  margin-top: -8px;
  width: 32px;
  height: 32px;
  -webkit-transition: border-color 250ms, color 250ms;
  transition: border-color 250ms, color 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -moz-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  -o-transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
  transition-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
}
#section_faq .panel.panel-nfc .panel-heading .panel-title a.collapsed {
  color: #424242;
}
#section_faq .panel.panel-nfc .panel-heading .panel-title a.collapsed:after {
  border: 2px solid #d7d7d7;
  color: #d7d7d7;
  content: "\e080";
  padding: 9px 10px 9px 9px;
}
#section_faq .panel.panel-nfc .panel-heading .panel-title a:hover,
#section_faq .panel.panel-nfc .panel-heading .panel-title a:focus {
  text-decoration: none;
}
#section_faq .panel.panel-nfc .panel-heading .panel-title a span {
  max-width: 85%;
  display: inline-block;
}
#section_faq .panel.panel-nfc .panel-body {
  padding-left: 0px;
  padding-right: 30px;
  font-size: 14px;
}
/* EOF Section FAQ */
/* Section Contact */
#section_contact {
  padding-bottom: 100px;
  overflow: hidden;
}
#section_contact h3 {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #424242;
  font-size: 16px;
  font-weight: light;
}
#section_contact h4 {
  margin: 0 auto;
  color: #424242;
  font-size: 12px;
}
#section_contact .phone-link {
  color: #e21a28;
  font-size: 22px;
  font-weight: bold;
}
#section_contact img.retina {
  position: relative;
}
#section_contact div > span {
  font-size: 11px;
}
@media (max-width: 767px) {
  #section_contact {
    text-align: center;
  }
  #section_contact .double-title {
    text-align: left;
  }
  #section_contact img {
    margin: 0 auto;
  }
  #section_contact .col-contact {
    margin-bottom: 40px;
  }
  #section_contact .col-contact .img-holder {
    margin-bottom: 20px;
  }
  #section_contact .col-contact .img-holder img {
    height: 70px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #section_contact {
    text-align: center;
  }
  #section_contact .double-title {
    text-align: left;
  }
  #section_contact img {
    margin: 0 auto;
  }
  #section_contact .img-holder {
    height: 120px;
  }
  #section_contact .nfc-button.responsive-button {
    width: 100%;
  }
}
/* EOF Section Contact */
@media (min-width: 1200px) {
  .container-fluid.main-container section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .container-fluid.main-container section#section_safe,
  .container-fluid.main-container section#section_need,
  .container-fluid.main-container section#section_sim {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (min-width: 1440px) {
  .container-fluid.main-container section {
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 15px;
  }
  .container-fluid.main-container section#section_faq {
    padding-bottom: 100px;
  }
  .container-fluid.main-container section#section_safe,
  .container-fluid.main-container section#section_need,
  .container-fluid.main-container section#section_sim {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container-fluid.main-container section#section_contact {
    padding-bottom: 200px;
  }
}
@-webkit-keyframes arrowBounce {
  0% {
    left: 0px;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0px;
  }
}
@keyframes arrowBounce {
  0% {
    left: 0px;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes arrowBounceRight {
  0% {
    right: 7%;
  }
  50% {
    right: 5%;
  }
  100% {
    right: 7%;
  }
}
@keyframes arrowBounceRight {
  0% {
    right: 7%;
  }
  50% {
    right: 5%;
  }
  100% {
    right: 7%;
  }
}
