.sequence {
  position: absolute;
  opacity: 0;
  height: 400px;
  width: 100%;
  max-width: 500px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}
.seq_0 {
  background-position: 0 0%;
}
.seq_1 {
  background-position: 0 11.11111111%;
}
.seq_2 {
  background-position: 0 22.22222222%;
}
.seq_3 {
  background-position: 0 33.33333333%;
}
.seq_4 {
  background-position: 0 44.44444444%;
}
.seq_5 {
  background-position: 0 55.55555556%;
}
.seq_6 {
  background-position: 0 66.66666667%;
}
.seq_7 {
  background-position: 0 77.77777778%;
}
.seq_8 {
  background-position: 0 88.88888889%;
}
.seq_9 {
  background-position: 0 100%;
}
.seq_10 {
  background-position: 0 0%;
}
.seq_11 {
  background-position: 0 11.11111111%;
}
.seq_12 {
  background-position: 0 22.22222222%;
}
.seq_13 {
  background-position: 0 33.33333333%;
}
.seq_14 {
  background-position: 0 44.44444444%;
}
.seq_15 {
  background-position: 0 55.55555556%;
}
.seq_16 {
  background-position: 0 66.66666667%;
}
.seq_17 {
  background-position: 0 77.77777778%;
}
.seq_18 {
  background-position: 0 88.88888889%;
}
.seq_19 {
  background-position: 0 100%;
}
.seq_20 {
  background-position: 0 0%;
}
.seq_21 {
  background-position: 0 11.11111111%;
}
.seq_22 {
  background-position: 0 22.22222222%;
}
.seq_23 {
  background-position: 0 33.33333333%;
}
.seq_24 {
  background-position: 0 44.44444444%;
}
.seq_25 {
  background-position: 0 55.55555556%;
}
.seq_26 {
  background-position: 0 66.66666667%;
}
.seq_27 {
  background-position: 0 77.77777778%;
}
.seq_28 {
  background-position: 0 88.88888889%;
}
.seq_29 {
  background-position: 0 100%;
}
.seq_30 {
  background-position: 0 0%;
}
.seq_31 {
  background-position: 0 11.11111111%;
}
.seq_32 {
  background-position: 0 22.22222222%;
}
.seq_33 {
  background-position: 0 33.33333333%;
}
.seq_34 {
  background-position: 0 44.44444444%;
}
.seq_35 {
  background-position: 0 55.55555556%;
}
.seq_36 {
  background-position: 0 66.66666667%;
}
.seq_37 {
  background-position: 0 77.77777778%;
}
.seq_38 {
  background-position: 0 88.88888889%;
}
.seq_39 {
  background-position: 0 100%;
}
.seq_40 {
  background-position: 0 0%;
}
.seq_41 {
  background-position: 0 11.11111111%;
}
.seq_42 {
  background-position: 0 22.22222222%;
}
.seq_43 {
  background-position: 0 33.33333333%;
}
.seq_44 {
  background-position: 0 44.44444444%;
}
.seq_45 {
  background-position: 0 55.55555556%;
}
.seq_46 {
  background-position: 0 66.66666667%;
}
.seq_47 {
  background-position: 0 77.77777778%;
}
.seq_48 {
  background-position: 0 88.88888889%;
}
.seq_49 {
  background-position: 0 100%;
}
.seq_50 {
  background-position: 0 0%;
}
.seq_51 {
  background-position: 0 11.11111111%;
}
.seq_52 {
  background-position: 0 22.22222222%;
}
.seq_53 {
  background-position: 0 33.33333333%;
}
.seq_54 {
  background-position: 0 44.44444444%;
}
.seq_55 {
  background-position: 0 55.55555556%;
}
.seq_56 {
  background-position: 0 66.66666667%;
}
.seq_57 {
  background-position: 0 77.77777778%;
}
.seq_58 {
  background-position: 0 88.88888889%;
}
.seq_59 {
  background-position: 0 100%;
}
.seq_60 {
  background-position: 0 0%;
}
.seq_61 {
  background-position: 0 11.11111111%;
}
.seq_62 {
  background-position: 0 22.22222222%;
}
.seq_63 {
  background-position: 0 33.33333333%;
}
.seq_64 {
  background-position: 0 44.44444444%;
}
.seq_65 {
  background-position: 0 55.55555556%;
}
.seq_66 {
  background-position: 0 66.66666667%;
}
.seq_67 {
  background-position: 0 77.77777778%;
}
.seq_68 {
  background-position: 0 88.88888889%;
}
.seq_69 {
  background-position: 0 100%;
}
.seq_70 {
  background-position: 0 0%;
}
.seq_71 {
  background-position: 0 11.11111111%;
}
.seq_72 {
  background-position: 0 22.22222222%;
}
.seq_73 {
  background-position: 0 33.33333333%;
}
.seq_74 {
  background-position: 0 44.44444444%;
}
.seq_75 {
  background-position: 0 55.55555556%;
}
.seq_76 {
  background-position: 0 66.66666667%;
}
.seq_77 {
  background-position: 0 77.77777778%;
}
.seq_78 {
  background-position: 0 88.88888889%;
}
.seq_79 {
  background-position: 0 100%;
}
.seq_80 {
  background-position: 0 0%;
}
.seq_81 {
  background-position: 0 11.11111111%;
}
.seq_82 {
  background-position: 0 22.22222222%;
}
.seq_83 {
  background-position: 0 33.33333333%;
}
.seq_84 {
  background-position: 0 44.44444444%;
}
.seq_85 {
  background-position: 0 55.55555556%;
}
.seq_86 {
  background-position: 0 66.66666667%;
}
.seq_87 {
  background-position: 0 77.77777778%;
}
.seq_88 {
  background-position: 0 88.88888889%;
}
.seq_89 {
  background-position: 0 100%;
}
.seq_90 {
  background-position: 0 0%;
}
.seq_91 {
  background-position: 0 11.11111111%;
}
.seq_92 {
  background-position: 0 22.22222222%;
}
.seq_93 {
  background-position: 0 33.33333333%;
}
.seq_94 {
  background-position: 0 44.44444444%;
}
.seq_95 {
  background-position: 0 55.55555556%;
}
.seq_96 {
  background-position: 0 66.66666667%;
}
.seq_97 {
  background-position: 0 77.77777778%;
}
.seq_98 {
  background-position: 0 88.88888889%;
}
.seq_99 {
  background-position: 0 100%;
}
.seq_100 {
  background-position: 0 0%;
}
.seq_101 {
  background-position: 0 11.11111111%;
}
.seq_102 {
  background-position: 0 22.22222222%;
}
.seq_103 {
  background-position: 0 33.33333333%;
}
.seq_104 {
  background-position: 0 44.44444444%;
}
.seq_105 {
  background-position: 0 55.55555556%;
}
.seq_106 {
  background-position: 0 66.66666667%;
}
.seq_107 {
  background-position: 0 77.77777778%;
}
.seq_108 {
  background-position: 0 88.88888889%;
}
.seq_109 {
  background-position: 0 100%;
}
.seq_110 {
  background-position: 0 0%;
}
.seq_111 {
  background-position: 0 11.11111111%;
}
.seq_112 {
  background-position: 0 22.22222222%;
}
.seq_113 {
  background-position: 0 33.33333333%;
}
.seq_114 {
  background-position: 0 44.44444444%;
}
.seq_115 {
  background-position: 0 55.55555556%;
}
.seq_116 {
  background-position: 0 66.66666667%;
}
.seq_117 {
  background-position: 0 77.77777778%;
}
.seq_118 {
  background-position: 0 88.88888889%;
}
.seq_119 {
  background-position: 0 100%;
}
.seq_120 {
  background-position: 0 0%;
}
.seq_121 {
  background-position: 0 11.11111111%;
}
.seq_122 {
  background-position: 0 22.22222222%;
}
.seq_123 {
  background-position: 0 33.33333333%;
}
.seq_124 {
  background-position: 0 44.44444444%;
}
.seq_125 {
  background-position: 0 55.55555556%;
}
.seq_126 {
  background-position: 0 66.66666667%;
}
.seq_127 {
  background-position: 0 77.77777778%;
}
.seq_128 {
  background-position: 0 88.88888889%;
}
.seq_129 {
  background-position: 0 100%;
}
.seq_130 {
  background-position: 0 0%;
}
.seq_131 {
  background-position: 0 11.11111111%;
}
.seq_132 {
  background-position: 0 22.22222222%;
}
.seq_133 {
  background-position: 0 33.33333333%;
}
.seq_134 {
  background-position: 0 44.44444444%;
}
.seq_135 {
  background-position: 0 55.55555556%;
}
.seq_136 {
  background-position: 0 66.66666667%;
}
.seq_137 {
  background-position: 0 77.77777778%;
}
.seq_138 {
  background-position: 0 88.88888889%;
}
.seq_139 {
  background-position: 0 100%;
}
.seq_140 {
  background-position: 0 0%;
}
.seq_141 {
  background-position: 0 11.11111111%;
}
.seq_142 {
  background-position: 0 22.22222222%;
}
.seq_143 {
  background-position: 0 33.33333333%;
}
.seq_144 {
  background-position: 0 44.44444444%;
}
.seq_145 {
  background-position: 0 55.55555556%;
}
.seq_146 {
  background-position: 0 66.66666667%;
}
.seq_147 {
  background-position: 0 77.77777778%;
}
.seq_148 {
  background-position: 0 88.88888889%;
}
.seq_149 {
  background-position: 0 100%;
}
.seq_150 {
  background-position: 0 0%;
}
.seq_151 {
  background-position: 0 11.11111111%;
}
.seq_152 {
  background-position: 0 22.22222222%;
}
.seq_153 {
  background-position: 0 33.33333333%;
}
.seq_154 {
  background-position: 0 44.44444444%;
}
.seq_155 {
  background-position: 0 55.55555556%;
}
.seq_156 {
  background-position: 0 66.66666667%;
}
.seq_157 {
  background-position: 0 77.77777778%;
}
.seq_158 {
  background-position: 0 88.88888889%;
}
.seq_159 {
  background-position: 0 100%;
}
.seq_160 {
  background-position: 0 0%;
}
.seq_161 {
  background-position: 0 11.11111111%;
}
.seq_162 {
  background-position: 0 22.22222222%;
}
.seq_163 {
  background-position: 0 33.33333333%;
}
.seq_164 {
  background-position: 0 44.44444444%;
}
.seq_165 {
  background-position: 0 55.55555556%;
}
.seq_166 {
  background-position: 0 66.66666667%;
}
.seq_167 {
  background-position: 0 77.77777778%;
}
.seq_168 {
  background-position: 0 88.88888889%;
}
.seq_169 {
  background-position: 0 100%;
}
.seq_170 {
  background-position: 0 0%;
}
.seq_171 {
  background-position: 0 25%;
}
.seq_172 {
  background-position: 0 50%;
}
.seq_173 {
  background-position: 0 75%;
}
.seq_174 {
  background-position: 0 100%;
}
