@font-face {
    font-family: 'Ge Inspira';
    src: url('../fonts/geinspbdwebfont.eot');
    src: url('../fonts/geinspbdwebfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geinspbdwebfont.woff') format('woff'),
         url('../fonts/geinspbdwebfont.ttf') format('truetype'),
         url('../fonts/geinspbdwebfont.svg#ge_inspirabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ge Inspira';
    src: url('../fonts/geinsprgwebfont.eot');
    src: url('../fonts/geinsprgwebfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geinsprgwebfont.woff') format('woff'),
         url('../fonts/geinsprgwebfont.ttf') format('truetype'),
         url('../fonts/geinsprgwebfont.svg#ge_inspiraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}