@red: rgb(226,26,40);
@dgray: rgb(34, 31, 28);
@textcolor: darken(rgb(92, 92, 92), 10%);

@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;
@screen-xl: 1440px;

.fsize(@font-size) {
    font-size: @font-size;
}

.fweight(@font-weight) {
    font-weight: @font-weight;
}

.img-retina(@file-1x; @file-2x; @width-1x; @height-1x) {
    background-image: url("@{file-1x}");

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
        background-image: url("@{file-2x}");
        background-size: @width-1x @height-1x;
    }
}

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}

.bezier() {
    -webkit-transition-timing-function: cubic-bezier(0.650, 0.000, 0.450, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.650, 0.000, 0.450, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.650, 0.000, 0.450, 1.000); 
            transition-timing-function: cubic-bezier(0.650, 0.000, 0.450, 1.000);    
}

.transition(@transition) {
  -webkit-transition: @transition;
          transition: @transition;
}

.transition(@transition, @transition_second) {
  -webkit-transition: @transition, @transition_second;
          transition: @transition, @transition_second;
}

.ico-bg(@file) {
    background-image: url("../images/icons/@{file}.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.size(@width; @height) {
    width: unit(@width, px);
    height: unit(@height, px);
}

.square(@size) {
    .size(@size, @size);
}

.absolute() {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}