@import "helpers.less";

.navbar-nfc {
    background: rgb(32, 32, 32);
    border: none;
    .navbar-brand {
        color: #777;
        &:hover, &:focus {
            color: #5e5e5e;
            background-color: transparent;            
        }
        &:active, &:focus {
            outline: none;
        }
    }
    
    .navbar-text {
        color: #777;
    }
    
    .navbar-nav {      
        & > li {
            & > a {
                text-transform: uppercase;
                text-align: center;
                color: rgb(204, 204, 204);
                .fsize(12px);
                .fweight(bold);
                transition: all 250ms ease;
                padding: 10px 5px;
                &:active, &:focus, &:hover {
                    color: rgb(204, 204, 204);
                    outline: none;
                    background-color: transparent;
                }                
            }
            &:hover {
                a, a:hover {
                    color: rgb(255, 255, 255);
                    background: @red;
                }
            }
            &.active {
                a {
                    color: rgb(255, 255, 255);
                    background: @red;
                }
            }
        }             
    }
    
    .navbar-toggle {
        float: left;
        margin-left: 15px;
        border: none;
        &:hover, &:focus {
            background-color: @red;
        }
        .icon-bar {
            background-color: rgb(255, 255, 255);
        }
    }
    
    .navbar-collapse {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    
    .navbar-form {
        border-color: #e7e7e7;    
    }
    
    .navbar-nav {
        & > .open {
            & > a {
                &, &:hover, &:focus {
                    color: #555;
                    background-color: #e7e7e7;                    
                }
            }
        }
    }
    
    .navbar-link {
        color: #777;
        &:hover {
            color: #333;        
        }
    }
    
    .btn-link {
        color: #777;    
        &:hover, &:focus {
            color: #333;
        }
        &[disabled] {
            &:hover, &:focus {
                color: #ccc;                
            }
        }
    }
    
}

@media (max-width: (@screen-sm - 1px)) {
    
    .container-fluid {
        &.main-container {
            padding-left: 0px;
            padding-right: 0px;
            section {
                padding-left: 15px;
                padding-right: 15px;
            }
        }   
    }
    
    .navbar-nfc {
        .navbar-brand {
            padding-top: 10px;
            padding-bottom: 10px;
            img {
                max-height: 100%;
            }
        }
        .navbar-nav {
            .open {
                .dropdown-menu {
                    & > li {
                        & > a {
                            color: #777;
                            &:hover, &:focus, &:active {
                                color: #333;
                                background-color: transparent;
                            }
                        }
                    }
                    & > .active {
                        & > a {
                            &, &:hover, &:focus, &:active {
                                color: #555;
                                background-color: #e7e7e7;
                            }
                        }
                    }
                    & > .disabled {
                        & > a {
                            &, &:hover, &:focus, &:active {
                                color: #ccc;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media(min-width: @screen-sm) {
    
    body {
        padding-top: 0px;
    }
    
    .navbar-fixed-top {
        &.navbar-fixed-left {
            position: fixed;
            left: 0px;
            width: 140px;
            height: 100%;
            z-index: 4;
        }
    }
     
    .navbar {
        &.navbar-nfc {
            .container-fluid {
                padding-left: 0px;
                padding-right: 0px;
            }
            
            .navbar-header {
                float: none;
                .navbar-brand {
                    margin-left: 0px;
                    height: auto;
                    padding: 28px;
                    margin-bottom: 8px;
                    width: 100%;
                }                
            }
            
            .navbar-nav {
                float: none;
                
                background: -moz-linear-gradient(top, rgba(226,26,40,1) 0%, rgba(226,26,40,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,26,40,1)), color-stop(100%, rgba(226,26,40,1)));
                background: -webkit-linear-gradient(top, rgba(226,26,40,1) 0%, rgba(226,26,40,1) 100%);
                background: -o-linear-gradient(top, rgba(226,26,40,1) 0%, rgba(226,26,40,1) 100%);
                background: -ms-linear-gradient(top, rgba(226,26,40,1) 0%, rgba(226,26,40,1) 100%);
                background: linear-gradient(to bottom, rgba(226,26,40,1) 0%, rgba(226,26,40,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e21a28', endColorstr='#e21a28', GradientType=0 );             
                
                background-size: 100% 52px;
                background-repeat: no-repeat;
                
                position: relative;
                
                -webkit-transition: background 500ms cubic-bezier(0.650, 0.000, 0.450, 1.000); 
                   -moz-transition: background 500ms cubic-bezier(0.650, 0.000, 0.450, 1.000); 
                     -o-transition: background 500ms cubic-bezier(0.650, 0.000, 0.450, 1.000); 
                        transition: background 500ms cubic-bezier(0.650, 0.000, 0.450, 1.000);

                -webkit-transition-timing-function: cubic-bezier(0.650, 0.000, 0.450, 1.000); 
                   -moz-transition-timing-function: cubic-bezier(0.650, 0.000, 0.450, 1.000); 
                     -o-transition-timing-function: cubic-bezier(0.650, 0.000, 0.450, 1.000); 
                        transition-timing-function: cubic-bezier(0.650, 0.000, 0.450, 1.000);
                
                & > li {
                    width: 100%;
                    float: none;
                    & > a {
                        background: transparent;
                        padding-top: 16px;
                        padding-bottom: 16px;
                    }
                    &:hover, &:focus, &:active {
                        a, a:focus, a:active, a:hover {
                            color: rgb(255, 255, 255);
                            background: transparent;
                        }
                    }
                    &.active {
                        a {
                            color: rgb(255, 255, 255);
                            background: transparent;
                        }
                    }
                }                
            }
        }        
    } 
    
    .container-fluid {
        &.main-container {
            padding-left: 140px;
            padding-right: 0px;
            section {
                padding-left: 35px;
                padding-right: 15px;
            }
        }
    }
    
}