@import "helpers.less";
@import "menu.less";
@import "fonts.less";

/* Global */

body {
    position: relative;
    font-family: 'Ge Inspira';
    .fsize(16px);
}

p {
    color: @textcolor;
}
div {
    color: @textcolor;
}

section {
    &.grey-section {
        background-color: rgb(243, 243, 243);
    }
    &.section-folded {
        &.collapsing {
            .bezier();
        }
    }
}

h1 {
    color: @red;
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 35px;
    .fweight(bold);
    .fsize(36px);
    letter-spacing: 0px;
    &.double-title {
        margin-top: 0px;
    }
}

h2 {
    .fweight(300);
    &.double-title {
        margin-top: 60px;
        color: @dgray;
        .fsize(22px);
    }
}

a {
    &:focus, &:active, &:hover {
        outline: none;
    }
    &.red {
        &:hover {
            color: darken(@red, 10%);
        }
    }
}

.red {
    color: @red;
}

.nfc-button {
    display: inline-block;
    height: 48px;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 24px;
    color: rgb(110, 110, 110);
    line-height: 1;
    padding: 16px 25px;
    text-transform: uppercase;
    text-align: center;
    background: rgb(255, 255, 255);
    .transition(~"color 250ms, border-color 250ms, background-color 250ms");
    .bezier();    
    .fsize(11px);
    .fweight(bold);
    &.more-button {       
        &:after {
            content: "\e080";        
            font-family: 'Glyphicons Halflings';
            font-weight: normal;
            margin-left: 15px;
            display: inline-block;
            position: relative;
            transform: rotate(0deg);         
            transform-origin: 50% 50%;
            .transition(all 250ms);
            .bezier();
        }
        &:hover {
            &:after {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
        &[aria-expanded="true"] {
            background: @red;
            border-color: @red;
            color: rgb(255, 255, 255);
            &:after {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
            &:focus, &:active {
                &:after {
                    color: rgb(255, 255, 255);
                }
            }
        }
        &:focus {
            text-decoration: none;
        }
        &.follow-button {
            &:after {
                -webkit-animation-name: arrowBounce;
                -webkit-animation-duration: 1s;
                -webkit-animation-timing-function: ease-in-out;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-play-state: paused;
                -webkit-animation-fill-mode: forwards;

                animation-name: arrowBounce;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-play-state: paused;
                animation-fill-mode: forwards;                    
            }
            &:hover {
                &:after {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-animation-play-state: running;
                    animation-play-state: running;
                }
            }            
        }
    }    
    &:hover, &:focus {
        color: rgb(110, 110, 110);
        text-decoration: none;
    }
    &.operator-button {
        color: rgb(255, 255, 255);
        &:after {
            content: "\e080";        
            font-family: 'Glyphicons Halflings';
            font-weight: normal;
            margin-left: 15px;
            display: inline-block;
            position: relative;
        }
        &:hover, &:focus {
            color: rgb(255, 255, 255);
        }
        &.t-mobile {
            background: rgb(237, 20, 91);
        }
        &.orange {
            background: rgb(255, 102, 0);
        }
    }
}

.bottom-space {
    padding-bottom: 60px;
}

ul {
    &.red-list {
        padding-left: 25px;
        padding-bottom: 30px;
        li {
            color: @red;
            span {
                color: @textcolor;
            }
        }        
    }
}

@media (max-width: (@screen-sm - 1px)) {
    body {
        padding-top: 50px;
        .fsize(14px);
    }
    .text-center-xs {
        text-align: center;
    }
    
    h1 {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    h2 {
        &.double-title {
            margin-top: 35px;
        }
    }    
    
    .center-xs {
        text-align: center;
        a {
            display: block;
            margin: 0 auto 5px;
        }
    }    
    
    .nfc-button {
        &.responsive-button {
            height: auto;
            border-radius: 50px;
            position: relative;
            padding-right: 30px;
            &.more-button {
                &:after {
                    margin-top: -6px;
                    position: absolute;
                    right: 7%;
                    top: 50%;
                }
                &.follow-button {
                    &:after {
                        -webkit-animation-name: arrowBounceRight;
                        animation-name: arrowBounceRight;
                    }
                }
            }        
        }        
    }
    
}


/* EOF Global */

/* Section 1 */
#section_1 {
    h3 {
        font-size: 22px;
    }
    #amount {
        padding-top: 100px;
    }
    #slider {
        display: none;
        padding: 0px 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        opacity: 1;
        -webkit-transition: opacity 250ms ease-in;
        transition: opacity 250ms ease-in;
        &.loading {
            opacity: 0;
        }
        .noUi-horizontal {
            height: 22px;
            .noUi-handle {
                top: -8px;
                left: -11px;
                width: 22px;
                height: 22px;
                border: none;
                background-color: @red;
                background-repeat: no-repeat;
                box-shadow: none;
                border-radius: 15px;
                .box-shadow(0 5px 10px rgba(0,0,0,.2));
                .transition(all 250ms);
                .bezier();
                &:before, &:after {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 8px;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    left: 7px;
                    top: 8px;
                    padding-top: 2px;
                    background: transparent;
                }
                &:after {
                    border-top: none;
                    border-bottom: none;
                    background: white;
                    padding-top: 0px;
                    top: 14px;
                }
                &:hover {
                    .box-shadow(0 5px 10px rgba(0,0,0,.3));
                    cursor: pointer;
                }
                &.noUi-active {
                    .box-shadow(0 5px 10px rgba(0,0,0,.4));
                    transform: scale(1.5);
                    cursor: pointer;
                }                
            }
            
        }

        .noUi-base {
            z-index: 1;
        }

        .noUi-target {
            background-image: url('../images/bar_red.gif');
            background-repeat: no-repeat;
            background-size: 100% 6px;
            background-position: 0px 8px;
            border-radius: 0px;
            border: none;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        .noUi-origin {
            background: rgb(235, 235, 235);
            border-radius: 0px;
            height: 6px;
            top: 8px;
        }    

        .noUi-pips-horizontal {
            z-index: 0;
            padding: 0px;
            height: 22px;
            top: 0px;
            .noUi-marker {
                display: none;
            }
            .noUi-marker-horizontal {
                &.noUi-marker-large {
                    display: block;
                    padding: 0px;
                    height: 22px;
                    width: 22px;
                    margin-left: -11px;
                    text-indent: -9999px;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    .img-retina('../images/ball_disabled.png', '../images/2x/ball_disabled_2x.png', 22px, 22px);
                    .transition(background 0.5s);
                    &.noUi-marker-active {
                        background-repeat: no-repeat;
                        .img-retina('../images/ball_active.png', '../images/2x/ball_active_2x.png', 22px, 22px);
                    }                    
                }
            }
        }
        .noUi-value {
            &.noUi-value-large {
                color: @textcolor;
                width: auto;
                top: -40px;
                margin-left: 20px;
                opacity: 0;
                .transition(opacity 250ms);
                &:last-child {
                    margin-left: -65px;
                }
                &.noUi-value-active {
                    opacity: 1;
                }
            }
        }

    }

    #nfc-sequence {
        height: 400px;
        position: relative;
        ul {
            list-style: none;
            padding: 0px;
            li {
                img {
                    display: block;
                    max-width: 100%;
                }
            }
        }
    }    
}

@media(max-width: (@screen-sm - 1px)) {
    #section_1 {
        padding-bottom: 30px;
        #slider {
            .noUi-value {
                &.noUi-value-large {
                    top: 20px;
                    left: 0px !important;
                    margin-left: 0px;
                    &:last-child {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}

@media (min-width: @screen-sm) {
    #section_1 {
        #slider {
            .noUi-value {
                &.noUi-value-large {
                    &:last-child {
                        left: initial !important;
                        right: 25px !important;
                    }
                }
            }
        }
    } 
}

@media(min-width: @screen-lg) {
    #section_1 {
        #slider {
            margin-top: 40px;
        }
    }
}

.glyphicon-play {
    font-size: 40px;
    position: absolute;
    z-index: 10;
    color: white;
    border-radius: 100px;
    border: 3px solid white;
    padding: 30px 25px;
    line-height: 30px;     
    cursor: pointer;
}    

@media(max-width: (@screen-sm - 1px)) {
    .glyphicon-play {
        top: 35%;
        left: 50%;
        margin-left: -25px;
        font-size: 30px;
        padding: 25px 20px;
        line-height: 18px;        
    }    
}

@media(min-width: @screen-sm) and (max-width: (@screen-md - 1px)) {
    .glyphicon-play {
        top: 40%;
        left: 225px;
    }    
}

@media(min-width: @screen-md) and (max-width: (@screen-lg - 1px)) {
    .glyphicon-play {
        top: 40%;
        left: 50%;
        margin-left: -30px;     
    }    
}

@media(min-width: @screen-lg) {
    .glyphicon-play {
        top: 40%;
        left: 225px;
    }    
}

/* EOF Section 1 */

/* Section 2 */
#section_2 {
    overflow: hidden;
    #where-to-icons {
        background: url('../images/glows.png') center center no-repeat;
        background-size: contain;
        #icons-holder {
            height: 554px;
            position: relative;
            -webkit-perspective: 250px;
                    perspective: 250px;                
        }
        .icons {
            position: absolute;
            &.up {
                &.hover {
                    transform: scale(1.1);
                }
            }
            &.down {
                &.hover {
                    transform: scale(0.7);
                }
            }
            &#icon-1 {
                .image-icon {
                    .ico-bg('ico_1');
                    .size(98, 97);                
                }
                .square(77);
                left: 50%;
                margin-left: 30px;
                top: 60%;            
            }
            &#icon-2 {
                .image-icon {
                    .ico-bg('ico_2');
                    .size(129, 129);                
                }
                .square(102);
                left: 50%;
                margin-left: -50px;
                top: 22%;
            }
            &#icon-3 {
                .image-icon {
                    .ico-bg('ico_3');
                    .size(127, 126);                
                }
                .square(100);
                left: 50%;
                margin-left: -210px;
                top: 30%;
            }
            &#icon-4 {
                .image-icon {
                    .ico-bg('ico_4');
                    .size(164, 158);                
                }
                .square(125);
                left: 50%;
                margin-left: -200px;
                top: 60%;            
            }
            &#icon-5 {
                .image-icon {
                    .ico-bg('ico_5');
                    .size(240, 239);                
                }
                .square(189);
                left: 50%;
                margin-left: -140px;
                top: 35%;            
            }
            &#icon-6 {
                .image-icon {
                    .ico-bg('ico_6');
                    .size(80, 79);                
                }
                .square(63);
                left: 50%;
                margin-left: 70px;
                top: 45%;            
            }
            &#icon-7 {
                .image-icon {
                    .ico-bg('ico_7');
                    .size(24, 24);                
                }
                .square(19);
                left: 50%;
                margin-left: -225px;
                top: 60%;            
            }
            &#icon-8 {
                .image-icon {
                    .ico-bg('ico_8');
                    .size(24, 24);                
                }
                .square(19);
                left: 50%;
                margin-left: 150px;
                top: 60%;            
            }
            &#icon-9 {
                .image-icon {
                    .ico-bg('ico_9');
                    .size(36, 37);                
                }
                .square(28);
                left: 50%;
                top: 74%;            
            }
            &#icon-10 {
                .image-icon {
                    .ico-bg('ico_10');
                    .size(45, 46);                
                }
                .square(36);
                left: 50%;
                margin-left: 80px;
                top: 35%;            
            }
            &#icon-11 {
                .image-icon {
                    .ico-bg('ico_11');
                    .size(59, 60);                
                }
                .square(59);
                left: 50%;
                margin-left: -150px;
                top: 20%;            
            }        
        }
    }    
}

@media (max-width: (@screen-sm - 1px)) {
    #section_2 {
        position: relative;
        #where-to-icons {
            position: absolute;
            overflow: hidden;
            top: 15px;
            opacity: 0.25;
            width: 100%;
            #icons-holder {
                left: 3%;
                -webkit-transform: scale(0.7);
                transform: scale(0.7);
                margin-top: -120px;
                margin-bottom: -90px;
            }
        }        
    }
}

@media (min-width: @screen-sm) and (max-width: (@screen-md - 1px)) {
    #section_2 {
        #where-to-icons {
            #icons-holder {
                -webkit-transform: scale(0.8);
                transform: scale(0.8);                
            }
        }        
    }
}

@media (min-width: @screen-sm) {
    #section_2 {
        .margin-responsive {
            margin-top: 40px;
        }
        .nfc-button {
            margin-bottom: 40px;
        }
    }
}

@media (min-width: @screen-md) {
    #section_2 {
        .margin-responsive {
            margin-top: 80px;
        }
        .nfc-button {
            margin-top: 20px;
        }
    }    
}

/* EOF Section 2 */

/* Section 3 */
#section_3 {
    overflow: hidden;
    .nfc-element {
        position: relative;
        height: 216px;
        //margin-top: 70px;
        #mobile-nfc {
            .img-retina('../images/mobile_nfc.png', '../images/2x/mobile_nfc_2x.png', 160px, 218px);
            .size(160, 218);
            margin: 0 auto;
            position: relative;
        }
        #sim-nfc {
            .img-retina('../images/sim.png', '../images/2x/sim_2x.png', 126px, 108px);
            .size(126, 108);
            margin: 0 auto;
            top: 29px;
            position: relative;
        }
        #bph-nfc {
            .img-retina('../images/shield.png', '../images/shield.png', 124px, 148px);
            .size(124, 148);
            margin: 0 auto;
            top: 38px;
            position: relative;
        }
        .nfc-shadow {
            background: url('../images/shadow.png') center center no-repeat;
            position: absolute;
            bottom: 0px;
            left: 50%;
            margin-left: -71px;
            .size(142, 20);
        }
    }
    .nfc-description {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 25px;
        strong {
            display: block;
            width: 100%;
        }
        span {
            display: block;
            width: 100%;
        }
    }
    .nfc-button {
        margin-bottom: 50px;
    }
}

@media (max-width: (@screen-sm - 1px)) {
    #section_3 {
        padding-bottom: 0px;
        .nfc-element {
            margin-top: 30px;
            height: auto;
            #sim-nfc {
                top: 0px;
            }
            #bph-nfc {
                top: 0px;
            }
        }
        .nfc-description {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .nfc-button {
            margin-bottom: 30px;
        }
        .nfc-shadow {
            display: none;
        }
        .read-more {
            .bezier();
            .row {
                padding-top: 15px;
                padding-bottom: 15px;
                background: rgb(225, 225, 225);
            }
        }
    }
}

@media (max-width: (@screen-md - 1px)) {
    #section_3 {
        .nfc-description {
            strong {
                .fsize(14px);
            }
            span {
                .fsize(14px);
            }
        }   
    }
}


#section_need {
    background: rgb(225, 225, 225);
    .collapsing {
        .bezier();
    }
    .read-more {
        .col-xs-12 {
            padding-top: 30px;
            padding-bottom: 30px;
            .col-xs-12 {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            &.no-padding-bottom {
                padding-bottom: 0px;
            }
            &.no-padding-top {
                padding-top: 0px;
            }            
        }        
    }
    #bphCollapse {
  
    }
}

/* EOF Section 3 */

/* Section operator */
#section_operator {
    padding-bottom: 50px;
    .operator-logo {
        background-repeat: no-repeat;
        margin-bottom: 50px;
        .size(122, 60);
        &#t-mobile-logo {
            //.img-retina('../images/t_mobile.png', '../images/2x/t_mobile_2x.png', 122px, 60px);
            .img-retina('../images/t_mobile_white.png', '../images/2x/t_mobile_white_2x.png', 122px, 60px);
        }
        &#orange-logo {
            //margin-top: 8px;
            //height: 44px;
            height: 60px;
            background-size: contain;
            background-image: url('../images/2x/orange_2x.png');
            background-repeat: no-repeat;
        }
        &#bph-logo {
            .size(187, 60);
            .img-retina('../images/bph_cut.png', '../images/2x/bph_cut_2x.png', 187px, 60px);
        }
    }
    .more-button {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}

#section_sim {
    background-color: rgb(225, 225, 225);
    .row {
        padding: 50px 0px;
    }    
}

@media (max-width: @screen-lg) {
    #section_operator {
        .operator-logo {
            &#bph-logo {
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: @screen-sm) {
    #section_operator {
        .operator-logo {
            margin-top: 30px;
            margin-bottom: 20px;
            &#orange-logo {
                margin-top: 38px;
            }
        }
    }
}

/* EOF Section operator */


/* Section 4 */

#section_4 {
    #mobile-presentation {
        .img-retina('../images/mobile.png', '../images/2x/mobile_2x.png', 236px, 363px);
        .size(236, 363);
        margin: 58px auto;
        position: relative;
        .transition(all 500ms ease);
        &.terminal {
            .img-retina('../images/jak_to_dziala_terminal.png', '../images/2x/jak_to_dziala_terminal_2x.png', 236px, 363px);
            #mobile-screen {
                .mobile-view {
                    opacity: 0;
                    &.active {
                        opacity: 0;
                    }
                }
            }
        }
        #mobile-screen {
            .size(165, 293);
            position: relative;
            top: 26px;
            margin-left: 35px;
            .mobile-view {
                .size(165, 293);
                position: absolute;
                opacity: 0;
                .transition(opacity 500ms ease);
                &#screen-0 {
                    .img-retina('../images/mobile_screen_0.png', '../images/2x/mobile_screen_0_2x.png', 165px, 293px);
                }
                &#screen-1 {
                    .img-retina('../images/mobile_screen_1.png', '../images/2x/mobile_screen_1_2x.png', 165px, 293px);
                }
                &#screen-2 {
                    .img-retina('../images/mobile_screen_2.png', '../images/2x/mobile_screen_2_2x.png', 165px, 293px);
                }
                &#screen-3 {
                    .img-retina('../images/mobile_screen_3.png', '../images/2x/mobile_screen_3_2x.png', 165px, 293px);
                }
                &.active {
                    opacity: 1;
                }
                &#screen-tmobile-1 {
                    .img-retina('../images/mobile_tmobile_1.jpg', '../images/2x/mobile_tmobile_1_2x.jpg', 165px, 293px);
                }                
                &#screen-tmobile-2 {
                    .img-retina('../images/mobile_tmobile_2.png', '../images/2x/mobile_tmobile_2_2x.png', 165px, 293px);
                }
                &#screen-tmobile-3 {
                    .img-retina('../images/mobile_tmobile_3.png', '../images/2x/mobile_tmobile_3_2x.png', 165px, 293px);
                }          
                &#screen-orange-1 {
                    .img-retina('../images/mobile_orange_1.jpg', '../images/2x/mobile_orange_1_2x.jpg', 165px, 293px);
                }                
                &#screen-orange-2 {
                    .img-retina('../images/mobile_orange_2.jpg', '../images/2x/mobile_orange_2_2x.jpg', 165px, 293px);
                }
                &#screen-orange-3 {
                    .img-retina('../images/mobile_orange_3.png', '../images/2x/mobile_orange_3_2x.png', 165px, 293px);
                }                    
            }
        }
    }
    .mobile-controls {
        
        .mobile-control {
            display: block;
            color: rgb(153, 153, 153);
            margin: 25px 0px;
            span {
                vertical-align: middle;
                display: inline-block;
                width: 85%;
                &.point {
                    display: inline-block;
                    margin-right: 15px;
                    .square(16);
                    .img-retina('../images/ball_dark_disabled.png', '../images/2x/ball_dark_disabled_2x.png', 16px, 16px);
                    background-size: 16px 16px;
                    .transition(all 200ms);
                    .bezier();      
                    vertical-align: top;
                    top: 5px;
                    position: relative;                    
                    
                }
            }
            .nfc-icon {
                display: none;
            }

            .nfc-icon, .nfc-icon-disabled {
                height: 15px;
            }            
            &.current {
                .nfc-icon-disabled {
                    display: none;
                }
                .nfc-icon {
                    display: initial;
                }
                color: @textcolor;
                span {
                    .fweight(bold);
                    &.point {
                        .img-retina('../images/ball_active.png', '../images/2x/ball_active_2x.png', 16px, 16px);
                        background-size: 16px 16px;
                    }
                }
            }
            &:hover, &:active, &:focus {
                text-decoration: none;
            }
            &:hover {
                color: @textcolor;
                .nfc-icon-disabled {
                    display: none;
                }
                .nfc-icon {
                    display: initial;
                }                
                span {
                    &.point {
                        transform: scale(1.3);
                    }
                }
                &.current {
                    span {
                        &.point {
                            transform: scale(1);
                        }
                    }                    
                }
            }
        }
    }    
    
    #operators-holder {
        position: relative;
        z-index: 1;
    }
    
    #operators {
        .buttons-group {
            width: auto;
            display: block;
            border-radius: 25px;
            border: 2px solid rgb(214, 214, 214);
            padding: 2px;
            form {
                &:after {
                    content: " ";
                    display: table;
                    clear: both;
                }
            }
            .operator {
                position: relative;
                display: block;
                margin: 0;
                padding: 15px 20px;
                line-height: 1;
                cursor: pointer;
                text-align: center;
                width: 50%;
                float: left;
                input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    margin: 0;
                    cursor: pointer;
                    display: block;
                    .absolute();
                    & + span {
                        color: rgb(110, 110, 110);
                        display: block;
                        text-transform: uppercase;
                        .fsize(12px);
                        .fweight(bold);
                        &:before {
                            content: "";
                            position: absolute;
                            .absolute();
                            width: 100%;
                            height: 100%;
                            z-index: -2;
                            background-color: rgb(255, 255, 255);
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            .absolute();
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                            -webkit-transform: scaleX(0);
                            transform: scaleX(0);
                            transition: transform 0.3s ease-out;
                        }
                    }
                    &:checked {
                        & + span {
                            color: rgb(255, 255, 255);    
                        }
                    }
                }
                &:first-child {
                    input {
                        &:checked {
                            & + span {
                                &:after {
                                    -webkit-transform: scaleX(1);
                                    transform: scaleX(1);                                
                                }                                                              
                            }

                        }
                        & + span {
                            &:after {
                                background: rgb(237, 20, 91);
                                -webkit-transform-origin: 100% 50%;
                                transform-origin: 100% 50%;                                
                            }
                            &:after, &:before {
                                border-bottom-left-radius: 20px;
                                border-top-left-radius: 20px;                                
                            }
                        }

                    }
                }
                &:last-child {
                    input {
                        &:checked {
                            & + span {
                                &:after {
                                    -webkit-transform: scaleX(1);
                                    transform: scaleX(1);                                
                                }                          
                            }

                        }
                        & + span {
                            &:after {
                                background: rgb(255, 102, 0);
                                -webkit-transform-origin: 0 50%;
                                transform-origin: 0 50%;                                
                            }                            
                            &:after, &:before {
                                border-bottom-right-radius: 20px;
                                border-top-right-radius: 20px;                                
                            }
                        }

                    }
                }
            }
                   
        }
    }
    
}

@media (max-width: (@screen-sm - 1px)) {
    #section_4 {
        #mobile-presentation {
            margin: 20px auto;
        }
        #operators {
            text-align: center;
        }
    }
}

@media (min-width: @screen-sm) {
    #section_4 {
        #operators {
            margin: 58px auto 0px;
            h4 {
                margin-top: 0px;
                margin-left: 18px;
            }
            .buttons-group {
                float: left;
                .operator {
                    width: auto;
                }
            }            
        }
    }
}

/* EOF Section 4 */


/* Section 5 */

#section_5 {
    position: relative;
    // &:after {
    //     .img-retina('../images/safety.jpg', '../images/2x/safety_2x.jpg', 609px, 353px);
    //     background-position: bottom right;
    //     background-repeat: no-repeat;
    //     content: "";
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     position: absolute;
    //     z-index: -1;
    // }
    h1 {
        margin-bottom: 0;
    }
    #pointer-presentation {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .desktop-image {
        text-align: center;
        img {
                display: inline-block;
        }
    }
    .pointer {
        .size(66, 66);
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 auto;
        &#pointer-1 {
            .img-retina('../images/pointer_1.png', '../images/2x/pointer_1_2x.png', 58px, 36px);
        }
        &#pointer-2 {
            .img-retina('../images/pointer_2.png', '../images/2x/pointer_2_2x.png', 25px, 46px);
        }
        &#pointer-3 {
            .img-retina('../images/pointer_3.png', '../images/2x/pointer_3_2x.png', 41px, 37px);
        }
        &#pointer-4 {
            .img-retina('../images/pointer_4.png', '../images/2x/pointer_4_2x.png', 42px, 38px);
        }
        &#pointer-5 {
            .img-retina('../images/pointer_5.png', '../images/pointer_5.png', 47px, 41px);
        }
        &#pointer-6 {
            .img-retina('../images/pointer_6.png', '../images/pointer_6.png', 66px, 45px);
        }        
    }
    &.grey-section {
        &:after {
            z-index: 0;
            .img-retina('../images/safety_grey.jpg', '../images/2x/safety_grey_2x.jpg', 609px, 353px);
        }
        .row {
            position: relative;
            z-index: 1;
        }
    }    
}

#section_safe {
    background-color: rgb(225, 225, 225);
    .row {
        padding: 50px 0px;
    }
    strong {
        display: inline-block;
        margin-bottom: 10px;
    }
}


@media (max-width: (@screen-sm - 1px)) {
    #section_5 {
        &:after {
            background-size: 400px;
            opacity: 0.2;
        }
        .margin-responsive {
            margin-top: 30px;
            margin-bottom: 30px;
        }    
    }
}

@media (min-width: @screen-sm) {
    #section_5 {
        min-height: 474px;
        #pointer-presentation {
            padding-top: 60px;
            margin-bottom: 0;
            .row {
                // margin-bottom: 20px;
            }
        }
        .margin-responsive {
            // margin-bottom: 30px;
        }
    }
}

@media (min-width: @screen-md) {
    #section_5 {
        #pointer-presentation {
            //margin-top: 120px;
        }
    }
}

@media (min-width: @screen-sm) and (max-width: (@screen-lg - 1px)) {
    #section_5 {
        &:after {
            opacity: 0.3;
        }
    }
}

#section_useful {
    h2 {
        color: @red;
        text-transform: uppercase;
        margin-top: 65px;
        margin-bottom: 35px;
        .fweight(bold);
        .fsize(30px);
        letter-spacing: 0px;
    }
    .col-md-6.col-lg-5 {
        .center-xs {
            margin-top: 14px;
        }
    }
    
    .btn {
        &.nfc-button {
            width: 100%;
            display: block;
            white-space: normal;
            height: auto;
            position: relative;
            margin-bottom: 20px;
            text-transform: none;
            .fsize(14px);
            min-height: 64px;
            &.more-button {       
                &:after {
                    display: none;
                }
                &:before {
                    content: "\e080";        
                    font-family: 'Glyphicons Halflings';
                    font-weight: normal;
                    display: inline-block;
                    position: absolute;
                    transform: rotate(0deg);         
                    transform-origin: 50% 50%;
                    right: 15px;
                    top: 50%;
                    margin-top: -6px;
                    .transition(all 250ms);
                    .bezier();
                }
                &[aria-expanded="true"] {
                    background: @red;
                    border-color: @red;
                    color: rgb(255, 255, 255);
                    &:after {
                        -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }
                    &:focus, &:active {
                        &:after {
                            color: rgb(255, 255, 255);
                        }
                    }
                }
                &:focus {
                    text-decoration: none;
                }
            }              
            span {
                vertical-align: middle;
                vertical-align: -webkit-baseline-middle;
            }
        }
    }
    
}


/* EOF Section 5 */

/*@media (min-width: @screen-md) and (max-width: (@screen-lg - 1px)) {
    #section_useful {
        .center-xs {
            .nfc-button {
                padding: 16px 16px;
                &:after {
                    display: none;
                }
            }
            padding-bottom: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgb(198, 198, 198);
            span {
                display: block;
                margin-bottom: 10px;
            }
        }
    }    
}*/

/* Section FAQ */

#section_faq {
    padding-bottom: 30px;
    .more-button {
        margin-top: 35px;
    }
    
    #faq-one, #faq-two {
        .panel-nfc {
            &:first-child {
                border-top: 1px solid rgb(198, 198, 198);
            }            
        }
    }
    
    .panel {
        &.panel-nfc {
            background-color: transparent;
            border: none;
            border-radius: 0px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid rgb(198, 198, 198);
            padding: 28px 0px;
            margin-bottom: 0px;
            .panel-heading {
                padding: 0px;
                .panel-title {
                    a {
                        color: @red;
                        .fsize(14px);
                        .fweight(bold);
                        &:after {
                            content: "\e114";
                            font-family: 'Glyphicons Halflings';
                            font-size: 9px;
                            display: block;
                            border-radius: 16px;
                            float: right;
                            //padding: 9px 10px 11px;
                            padding: 10px;
                            border: 2px solid @red;
                            color: @red;
                            line-height: 9px;
                            margin-top: -8px;
                            .square(32);
                            .transition(border-color 250ms, color 250ms);
                            .bezier();
                        }
                        &.collapsed {
                            color: @textcolor;
                            &:after {
                                border: 2px solid rgb(215, 215, 215);
                                color: rgb(215, 215, 215);
                                content: "\e080";
                                padding: 9px 10px 9px 9px;
                            }                            
                        }
                        &:hover, &:focus {
                            text-decoration: none;
                        }
                        span {
                            max-width: 85%;
                            display: inline-block;
                        }
                    }
                }
            }
            .panel-body {
                padding-left: 0px;
                padding-right: 30px;
                .fsize(14px);
            }
        }
    }
}

/* EOF Section FAQ */

/* Section Contact */

#section_contact {
    padding-bottom: 100px;
    overflow: hidden;
    h3 {
        margin-top: 0px;
        margin-bottom: 30px;
        color: @textcolor;
        .fsize(16px);
        .fweight(light);
    }
    h4 {
        margin: 0 auto;
        color: @textcolor;
        .fsize(12px);
    }
    .phone-link {
        color: @red;
        .fsize(22px);
        .fweight(bold);
    }
    img.retina {
        position: relative;
    }
    div > span {
        .fsize(11px);
    }
}

@media (max-width: (@screen-sm - 1px)) {
    #section_contact {
        text-align: center;
        .double-title {
            text-align: left;
        }
        img {
            margin: 0 auto;
        }
        .col-contact {
            margin-bottom: 40px;
            .img-holder {
                margin-bottom: 20px;
                img {
                    height: 70px;    
                }
            }
        }
    }
}

@media (min-width: @screen-sm) and (max-width: (@screen-md - 1px)) {
    #section_contact {
        text-align: center;
        .double-title {
            text-align: left;
        }        
        img {
            margin: 0 auto;
        }
        .img-holder {
            height: 120px;
        }
        .nfc-button {
            &.responsive-button {
                width: 100%;
            }            
        }
    }    
    
}

/* EOF Section Contact */

@media (min-width: @screen-lg) {
    .container-fluid {
        &.main-container {
            section {
                padding-top: 25px;
                padding-bottom: 25px;
                &#section_safe, &#section_need, &#section_sim {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }                
            }
        }
    }   
    
}

@media (min-width: @screen-xl) {
    .container-fluid {
        &.main-container {
            section {
                padding-top: 35px;
                padding-bottom: 50px;
                padding-left: 100px;
                padding-right: 15px;
                &#section_faq {
                    padding-bottom: 100px;
                }
                &#section_safe, &#section_need, &#section_sim {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
                &#section_contact {
                    padding-bottom: 200px;
                }
            }
        }
    }
    
}

@-webkit-keyframes arrowBounce {
    0%   {left: 0px;}
    50%  {left: 10px}
    100% {left: 0px;}
}

@keyframes arrowBounce {
    0%   {left: 0px;}
    50%  {left: 10px}
    100% {left: 0px;}
}

@-webkit-keyframes arrowBounceRight {
    0%   {right: 7%;}
    50%  {right: 5%;}
    100% {right: 7%;}
}

@keyframes arrowBounceRight {
    0%   {right: 7%;}
    50%  {right: 5%;}
    100% {right: 7%;}
}