.sequence {
    position: absolute;
    opacity: 0;
    height: 400px;
    width: 100%;
    max-width: 500px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    image-rendering: optimizeQuality;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.generate-seq(10, 0, 0);
.generate-seq(10, 0, 10);
.generate-seq(10, 0, 20);
.generate-seq(10, 0, 30);
.generate-seq(10, 0, 40);
.generate-seq(10, 0, 50);
.generate-seq(10, 0, 60);
.generate-seq(10, 0, 70);
.generate-seq(10, 0, 80);
.generate-seq(10, 0, 90);
.generate-seq(10, 0, 100);
.generate-seq(10, 0, 110);
.generate-seq(10, 0, 120);
.generate-seq(10, 0, 130);
.generate-seq(10, 0, 140);
.generate-seq(10, 0, 150);
.generate-seq(10, 0, 160);
.generate-seq(5, 0, 170);

.generate-seq(@n, @i: 0, @j: 0) when (@i < @n) {
  .seq_@{j} {
    background-position: 0 unit(round(((400 * @i) / (400 * (@n - 1))),12) * 100, %);
  }
  .generate-seq(@n, (@i + 1), (@j + 1));
}